{% extends 'base.html' %}

{% block content %}
<title>{{ blog.title }} - Aneesh Bharath</title>
<main role="main" class="container">
<h1 class="display-4 font-bold">{{ blog.title }}</h1>
  <div class="row">
    <div class="col-md-8 blog-main">
      <div class="blog-post">
        <p class="blog-post-meta">{{ blog.pub_date_pretty }} by <a href="#">{{ blog.author }}</a></p>
        <p>
        <div class="row">
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-2">
          {% if blog.icon1 %}
            <a href="{{ blog.icon1link }}" target="_blank">
              <img class="img-thumbnail" alt="{{ blog.icon1 }}" src="{{ blog.icon1.url }}"/>
            </a>
          {% endif %}
        </div>
        <div class="col-2">
          {% if blog.icon2 %}
            <a href="{{ blog.icon2link }}" target="_blank">
              <img class="img-thumbnail" alt="{{ blog.icon2 }}" src="{{ blog.icon2.url }}"/>
            </a>
          {% endif %}
        </div>
        <div class="col-2">
          {% if blog.icon3 %}
            <a href="{{ blog.icon3link }}" target="_blank">
              <img class="img-thumbnail" alt="{{ blog.icon3 }}" src="{{ blog.icon3.url }}"/>
            </a>
          {% endif %}
        </div>
        <div class="col-2"></div>
        <div class="col-2"></div>
        </div>
        </p>
        <p>{{ blog.body1|urlize }}</p><br>
          <i class="w3-serif w3-large">{{blog.code_type1}}</i>
          <div class="w3-panel w3-leftbar">
            <p style="color:#1DA1F2;">
              <i class="fa fa-quote-right w3-large"></i><br>
                <i class="w3-serif w3-large" style="color:#1DA1F2;">
                  {{ blog.code1|linebreaks }}
                </i>
            </p>
          </div>
        <p>{{ blog.body2|urlize }}</p><br>
          <i class="w3-serif w3-large">{{blog.code_type2}}</i>
          <div class="w3-panel w3-leftbar">
            <p style="color:#1DA1F2;">
              <i class="fa fa-quote-right w3-large"></i><br>
                <i class="w3-serif w3-large" style="color:#1DA1F2;">
                  {{ blog.code2|linebreaks }}
                </i>
            </p>
          </div>
        <p>{{ blog.body3|urlize }}</p><br>
          <i class="w3-serif w3-large">{{blog.code_type3}}</i>
          <div class="w3-panel w3-leftbar">
            <p style="color:#1DA1F2;">
              <i class="fa fa-quote-right w3-large"></i><br>
                <i class="w3-serif w3-large" style="color:#1DA1F2;">
                  {{ blog.code3|linebreaks }}
                </i>
            </p>
          </div>

         <br>
          
      </div><!-- /.blog-post -->
      <div id="disqus_thread"></div>
      <script>
        var disqus_config = function () {
        this.page.url = "http://www.aneeshbharath.com/blog/{{ blog.urltitle }}/";  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = {{blog.id}}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://aneeshportfolio.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                  
    </div><!-- /.blog-main -->

    <aside class="col-md-4 blog-sidebar">
      <div class="p-4 mb-3 bg-light rounded">
        <img class="img-fluid" alt="Responsive image" src="{{ blog.image.url }}"/>
      </div>
    </aside><!-- /.blog-sidebar -->

  </div><!-- /.row -->
  <hr>
  <div class="row">
    <div class="col">
      Reference:
        <div class="row">
          <div class="col">
            <a href="{{blog.extr_link1}}" data-toggle="tooltip" title="{{blog.extr_descript1}}"  target="_blank"><i class="fas fa-external-link-alt"></i></a>
           </div>
           <div class="col">
              <a href="{{blog.extr_link2}}"  data-toggle="tooltip" title="{{blog.extr_descript2}}" target="_blank"><i class="fas fa-external-link-alt"></i></a>
            </div>
        </div>
    </div>
    <div class="col">
      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false" 
              data-size="large"
              data-text="Check out this blog - {{ blog.title }}"
              data-hashtags="{{ blog.hashtags1 }},{{ blog.hashtags2 }},{{ blog.hashtags3 }}" 
              data-via="Aneesh97B"
              data-related="twitterapi,twitter">
      </a>
    </div>
    <div class="col">
      <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="small">
        <a target="_blank" href="{{ blog.url_fbshrer }}"><i class="fab fa-facebook fa-2x" style="color:#3b5998;"></i></a>
      </div>
    </div>
    <div class="col">
      <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
      <script type="IN/Share" data-url="http://www.aneeshbharath.com/blog/{{ blog.urltitle }}/"></script>
    </div>
  </div>
  <hr>
</main><!-- /.container -->
{% endblock %}
