{% extends 'base.html' %}

{% block content %}
<title>{{ blog.title }} - Aneesh Bharath</title>
<main role="main" class="container">
<h1 class="display-4 font-bold">{{ blog.title }}</h1>
  <div class="row">
    <div class="col-md-8 blog-main">
      <div class="blog-post">
        <p class="blog-post-meta">{{ blog.pub_date_pretty }} by <a href="#">{{ blog.author }}</a></p>
        <p>{{ blog.body1 }}</p><br>
          <i class="w3-serif w3-large">Code</i>
          <div class="w3-panel w3-leftbar">
            <p style="color:#1DA1F2;">
              <i class="fa fa-quote-right w3-large"></i><br>
                <i class="w3-serif w3-large" style="color:#1DA1F2;">
                  {{ blog.code1|linebreaks }}
                </i>
            </p>
          </div>
        <p>{{ blog.body2 }}</p><br>
          <i class="w3-serif w3-large">Code</i>
          <div class="w3-panel w3-leftbar">
            <p style="color:#1DA1F2;">
              <i class="fa fa-quote-right w3-large"></i><br>
                <i class="w3-serif w3-large" style="color:#1DA1F2;">
                  {{ blog.code2|linebreaks }}
                </i>
            </p>
          </div>
        <p>{{ blog.body3 }}</p><br>
          <i class="w3-serif w3-large">Code</i>
          <div class="w3-panel w3-leftbar">
            <p style="color:#1DA1F2;">
              <i class="fa fa-quote-right w3-large"></i><br>
                <i class="w3-serif w3-large" style="color:#1DA1F2;">
                  {{ blog.code3|linebreaks }}
                </i>
            </p>
          </div>
      </div><!-- /.blog-post -->
    </div><!-- /.blog-main -->

    <aside class="col-md-4 blog-sidebar">
      <div class="p-4 mb-3 bg-light rounded">
        <img class="img-fluid" alt="Responsive image" src="{{ blog.image.url }}"/>
      </div>
    </aside><!-- /.blog-sidebar -->

  </div><!-- /.row -->
  <br>
  <div class="row">
    <div class="col-1">
      <a href="https://twitter.com/intent/tweet" class="twitter-share-button" data-show-count="false" 
              data-size="large"
              data-text="Check out this blog - {{ blog.title }}"
              data-url="{% url 'home' %}"
              data-hashtags="{{ blog.hashtags1 }},{{ blog.hashtags2 }},{{ blog.hashtags3 }}" 
              data-via="Aneesh97B"
              data-related="twitterapi,twitter">
      </a>
    </div>
    <div class="col-1">
      <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="small">
        <a target="_blank" href="{{ blog.url_fbshrer }}"><i class="fab fa-facebook fa-2x" style="color:#3b5998;"></i></a>
      </div>
    <div>
  </div>
</main><!-- /.container -->
{% endblock %}
