{% extends 'base.html' %}

{% block content %}

<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1>Portfolio</h1>
      <p class="lead text-muted">
        Hello All, This page showcases all applications that were developed by me Using the Python Django Framework. 
        These applications are available for direct purchase and can be customised to suit your requirements
      </p>
      <p>
        <a href="mailto:me@aneeshbharath.com" class="btn btn-primary my-2" target="_blank">Email Me</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        {% for job in jobs.all %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <a href="{{ job.job_url }}" target="_blank">
              <img class="bd-placeholder-img card-img-top"  src="{{ job.image.url }}"/>
            </a>
            <div class="card-body">
              <h3>
                {{ job.title }}
              </h3>
              <p class="card-text">
                {{ job.summary}}
              </p>
            </div>
          </div>
        </div>
        {% endfor %}
        
      </div>
    </div>
  </div>
</main>
{% endblock %}