{% extends 'base.html' %}

{% block content %}
<script>
  $.get('https://www.cloudflare.com/cdn-cgi/trace', function(data){
      ip = data.split('\n');
      $("#info").html(ip[2])
        console.log(ip[2])
        document.getElementById("info").value = ip[2];
      });
      $.post("/jobs/home.html",
        {
          ip_address: ip[2]
        });
</script>
<title>MyPortfolio - Aneesh Bharath</title> 
<main role="main">
  <div class="album py-5">
    <div class="container">
      <div class="row mb-5 align-items-center">
        <div class="col-md-12 col-lg-6 mb-4 mb-lg-0" data-aos="fade-up">
          <h1>Hey, I'm Aneesh Bharath</h1>
          <p class="mb-0">Freelance Software Developer</p>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 mb-4 mb-lg-0" data-aos="fade-up">
        <h2>Projects</h2>
      </div>
      <div id="portfolio-grid" class="row no-gutter" data-aos="zoom-out-right" data-aos-delay="200">
        {% for job in jobs.all %}
        <div class="card col-sm-6 col-md-4 col-lg-4 mb-4">
          <img class="card-img-top" src="{{ job.image.url }}" alt="image for {{ job.title }}">
          <div class="card-body">
            <h5 class="card-title">{{ job.title }}</h5>
            <p class="card-text">{{ job.summary}}</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#blog{{ job.id }}">More</button>
          </div>
        </div>
        {% endfor %}
      </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <div class="portfolio-grid">
        <a class="twitter-timeline" href="https://twitter.com/Aneesh97B" data-tweet-limit="1" ></a> 
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>
    <div class="nav-scroller py-1 mb-2">
      <nav class="nav d-flex justify-content-between">
        <a class="p-2 text-muted" href="#"></a>
        <a class="p-2 text-muted" href="#"></a>
        <a class="p-2 text-muted" href="#"></a>
        <a class="p-2 text-muted" href="#"><i class="fas fa-map-pin"></i> {{location}}</a>
        <a class="p-2 text-muted" href="#"><i class="fas fa-temperature-low" style="color:#3b5998;"></i> {{temp_min}}</a>
        <a class="p-2 text-muted" href="#"><i class="fas fa-temperature-high" style="color:	#800000;"></i> {{temp_max}}</a>
        <a class="p-2 text-muted" href="#"><i class="fas fa-tint" style="color:	#00FFFF;"></i> {{humidity}}</a>
        <img src="http://openweathermap.org/img/wn/{{icon}}@2x.png" width="50" height="50" >
        <a class="p-2 text-muted" href="#"></a>
        <a class="p-2 text-muted" href="#"></a>
        <a class="p-2 text-muted" href="#"></a>
        <a class="p-2 text-muted" href="#"></a>
      </nav>
    </div>
</main>


        {% for job in jobs.all %}
        <div class="modal fade" id="blog{{ job.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Application Features</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="carousel-item">
                  <img src="..." alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>...</h5>
                    <p>...</p>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
{% endblock %}