{% extends 'base.html' %}

{% block content %}

<main role="main">

  <div class="album py-5 bg-light">
    <div class="container">

      <div id="portfolio-grid" class="row no-gutter" data-aos="fade-up" data-aos-delay="200">
        {% for job in jobs.all %}
          <div class="item web col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="work-single.html" class="item-wrap fancybox">
              <div class="work-info">
                <h3>{{ job.title }}</h3>
                <span>{{ job.summary}}</span>
              </div>
              <img class="img-fluid" src="{{ job.image.url }}">
            </a>
          </div>
        {% endfor %}
        </div>

      <a href="https://twitter.com/intent/tweet" class="twitter-mention-button" data-show-count="false" 
          data-size="large"
          data-text="I found an interesting Blog!"
          data-url="{% url 'home' %}"
          data-hashtags="PythonProgramming,demo"
          data-via="Aneesh97B"
          data-related="twitterapi,twitter">Tweet to @Aneesh97B
      </a>
      <blockquote class="twitter-tweet">
        <p lang="en" dir="ltr">I just find out random reading material digging through the net! Kind of my relaxation after all the <a href="https://twitter.com/hashtag/Coding?src=hash&amp;ref_src=twsrc%5Etfw">#Coding</a> ...
        <a href="https://twitter.com/hashtag/RandomThoughts?src=hash&amp;ref_src=twsrc%5Etfw">#RandomThoughts</a>
        <br>And today I found <a href="https://twitter.com/hashtag/aibox?src=hash&amp;ref_src=twsrc%5Etfw">#aibox</a>
        <br>
        <br>An AI box is a hypothetical isolated computer hardware system where a possibly dangerous artificial intelligence</p>&mdash; Aneesh Bharath (@Aneesh97B) 
        <a href="https://twitter.com/Aneesh97B/status/1254829036716490753?ref_src=twsrc%5Etfw">April 27, 2020</a>
      </blockquote> 
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    
    </div>
  </div>
</main>
{% endblock %}