{% extends 'base.html' %}

{% block content %}
<title>Services</title>
{% if messages %}
    <script>
        {% for message in messages %}
            alert('{{ message }}');
        {% endfor %}
    </script>
{% endif %}
<style>
    .crop {
        width: 200px;
        height: 150px;
        overflow: hidden;
    }

    .crop img {
        width: 400px;
        height: 300px;
        margin: -75px 0 0 -100px;
    }
</style>

<script type="text/javascript">
    function modal_value(value) {
        var serviceID = $(value).data('id');
        $(".modal-body #serviceID").val( serviceID );
        $('#add_quote').modal('show');
    }
</script>

<section class="section">

    <div class="container">
        <div class="row mb-4 align-items-center">
          <div class="col-md-6" data-aos="fade-up">
            <h2>My Services</h2>
            <p>
                These are some of the basic services I provide. Having good exposure in all the below 
                mentioned services I provide each service on a fixed rate basis.
            </p>
          </div>
        </div>
    </div>

    <div class="site-section pb-0">
        <div class="container">
            <div class="row">
                {% for service in services.all %}
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
                        <img src="{{ service.service_icon.url }}" alt="{{ service.service_icon }}" style="width:50px;height:60px;">
                        <h4 class="h4 mb-2">{{ service.service_title }}</h4>
                        <p>{{ service.service_description }}</p>
                        {% for servicespoint in servicespoints.all %}
                            {% if servicespoint.service_id == service %}
                                <ul class="list-unstyled list-line">
                                    <li>{{ servicespoint.service_point }}</li>
                                </ul>
                            {% endif %}
                        {% endfor %}
                        <a ></a>
                        <button class="readmore d-block"  style="border-radius: 50px;" type="button" onclick="modal_value(this)" 
                        data-toggle="modal" data-id="{{ service.id }}" 
                        data-toggle="modal"
                        href="#add_quote" class="btn btn-primary">
                        Get Quote
                        </button>
                    </div>
                {% endfor %}
          </div>
        </div>
    </div>
</section>

    <!-- ======= Testimonials Section ======= -->
<section class="section pt-0">
    <div class="container">
        {% if  Testimonials %}
            <div class="owl-carousel testimonial-carousel">
                {% for  Testimonial in Testimonials.all %}
                    <div class="testimonial-wrap">
                        <div class="testimonial">
                            <img src="{{ Testimonial.image.url}}" alt="Image" class="img-fluid">
                            <blockquote>
                                <p>{{ Testimonial.comment }}</p>
                            </blockquote>
                            <p>&mdash; {{ Testimonial.user_name }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <br>
        <button class="readmore d-block" type="button" data-toggle="modal" style="border-radius: 50px;" data-target="#add_testimonial">
            Add Testimonial
        </button>
    </div>
</section><!-- End Testimonials Section -->

    
        <div class="modal fade" id="add_testimonial" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Write a Testimonial!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form method="POST" action="{% url 'addTestimonials'%}"  enctype="multipart/form-data" role="form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="fname">Name:</label>
                        <input type="text" id="fname" class="form-control" name="username"><br>
                    </div>
                    <div class="form-group">
                        <label for="lname">Email:</label>
                        <input type="text" id="lname"  class="form-control" name="useremail"><br>
                    </div>
                    <div class="form-group">
                        <label for="lname">Testimonial:</label>
                        <textarea class="form-control" name="comment" cols="20" rows="10" data-rule="required" data-msg="Please write something for us"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="lname">Image:</label>
                        <input type="file" name="userimage"  id="fileToUpload">
                    </div>
                    <div class="form-group">
                        <button type="submit" value="submit" class="readmore d-block"  style="border-radius: 50px;" >Submit</button>
                    </div>
                </form> 
              </div>
              <div class="modal-footer">
                <p>Your Testimonial will appear in the site after it has been verified!</p>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="add_quote" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Request a Quote</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form method="POST" action="{% url 'addQuoteRequest'%}"  enctype="multipart/form-data" role="form">
                    {% csrf_token %}
                    <input type="hidden" id="serviceID" name="proj_type"><br>
                    <div class="form-group">
                        <label for="fname">Name:</label>
                        <input type="text" id="fname" class="form-control" name="username"><br>
                    </div>
                    <div class="form-group">
                        <label for="lname">Email:</label>
                        <input type="text" id="lname"  class="form-control" name="useremail"><br>
                    </div>
                    <div class="form-group">
                        <label for="lname">Project Description:</label>
                        <textarea class="form-control" name="description" cols="20" rows="10" data-rule="required" data-msg="Please write something for us"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="lname">Estimate Budget <i class="fas fa-dollar-sign"></i> : </label>
                          <input type="number" class="form-control" id="proj_budget" name="proj_budget">
                    </div>
                    <div class="form-group">
                        <button type="submit" value="submit" class="readmore d-block"  style="border-radius: 50px;">Submit</button>
                    </div>
                </form> 
              </div>
            </div>
          </div>
        </div>
{% endblock %}